@model IEnumerable<VKAPI.Models.auth_app>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New App", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Auth Key
        </th>
        <th>
            App Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.auth_key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
